{{> menu active="dashboard"}}
<div class="box has-text-centered">
    <span class="icon is-large">
        <i class="fas fa-user fa-2x"></i>
    </span>
    <h1 class="is-size-2 "> Welcome {{user.firstName}}</h1>
    <a href="/user" class="button is-link" >Edit Your Personal Details</a>
</div>

<div id="myMap" class="box" style="height: 500px;">
    <script>
        let myMap = L.map('myMap').setView([53.340233, -6.276553], 7);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoidmlub2QyMyIsImEiOiJja3Q3OWNqamowcTI0MnVxbGgxNTRhNmRsIn0.CqBpoAYTmGEFwggFfq-J5A', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoidmlub2QyMyIsImEiOiJja3Q3OWNqamowcTI0MnVxbGgxNTRhNmRsIn0.CqBpoAYTmGEFwggFfq-J5A'
        }).addTo(myMap);
        let i = 0;
        let marker = [];
            {{#each locations}}
            marker.push(L.marker([{{latitude}}, {{longitude}}]).addTo(myMap));
            marker[i].bindPopup(" {{name}} <br>"+ "<a href='/location/{{_id}}'>More Info</a>")
            i++;
            {{/each}}

    </script>
</div>

{{> add-location}}